* {
    margin: 0;
    padding: 0;
    
}


/*Importation des polices depuis le dossier "polices" */
/*Titres*/
@font-face {
    font-family: 'Permanent Marker';
    src: url(./polices/PermanentMarker.ttf) format('truetype');
}

/*Texte*/
@font-face {
    font-family: 'Roboto';
    src: url(./polices/Roboto-Regular.ttf) format('truetype');
}


h2, #telephone, #adresseText, nav > ul > li > a{
    font-family: 'Permanent Marker';
}

p, label{
    font-family: 'Roboto';
}

/*Écrans d'ordinateur*/
@media screen and (min-width: 1024px) {
    ul{
        display: inline-flex;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    nav{
        margin: 0 200px;
        padding: 80px 0; /*Taille du header*/
    }

    #logo{
        width: 150px;
        height: 150px;
        margin: 0 30px;
    }

    main{
        /*Grille composées de deux rangées de deux cases*/
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 400px 1fr;
        height: 100%;
    }

    #contact{
        grid-column: 1;
        grid-row: 1;
    }

    .swiper{
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #localisation{
        grid-column: 1;
        grid-row: 2;
    }

    form{
        grid-column: 2;
        grid-row: 2;
    }

}

/*Écrans de tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/*Ecrans de telephone*/
@media screen and (max-width: 767px) {
}


/**************Header***********/
header{
    width: 100%;
    height: min-content;
    background-image: url(./images/texture.png);
    background-position: center;
}

/*Mise en forme des liens du navigateur*/
nav > ul > li > a:not(#navContact){
    color: black;
}

nav > ul > li > a{
    text-decoration: none;
    font-size: normal;
}

#navContact{
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#degrade{
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    height: 30px;
    width: 100%;
}

/**************Main************/

/*CONTACT*/

#logoTel{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#numTel{
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

#telephone{
    font-size: 25px;
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact{
    margin: 10% 20%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#contact p{
    margin: 20px 0;
    /*taille de 67 caractères*/
    max-width: 55ch;
    line-height: 25px;
}

/*SLIDER*/
.imgSlider {
    width: 100%;
    height: auto;
}

#chevronDroite {
    transform: rotate(180deg);
    background: linear-gradient(90deg, #6d0063, #ed1e79);
    /* déplacer de 30 pixels sur la gauche*/
    margin-right: 30px;
}

#chevronGauche {
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    margin-left: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

#chevronGauche, #chevronDroite {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*arrière plan dégradé de gauche à droite ed1e79 à 6d0063*/
    padding: 10px;
}

.swiper-pagination {
    --swiper-pagination-color: #ed1e79;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 1;
}

/*LOCALISATION*/

#adresse{
    /*assombrissement de l'image*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/localisation.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: min-content;
    padding: 20% 30%;
    display: flex;
    flex-direction: column;
}

#map {
    width: 100%;
    height: 400px;
    background: #d6d6d6;
}
  /*tous les textes dans #adresses sont blancs*/
#adresse p , #adresse h2, span{
    color: white;
    z-index: 2;
}


#adresse p{
    margin: 40px 0;
    max-width: 55ch;
    /* espacement entre les lignes du paragraphes de 5 pixels*/
    line-height: 25px;
} 

/*FORMULAIRE*/
form{
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2{
    color: white;
    margin: 20px 0;
}

form p{
    color: white;
    max-width: 55ch;
    line-height: 25px;
}

#titleForm{
    text-align: center;
    margin-bottom: 40px;
}

#questionForms label{
    color: white;
}

#questionForms input, #questionForms textarea{
    background: none;
    border: none;
    border: 1px solid white;
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    /*bords arrondis*/
    border-radius: 10px;
    font-family: Roboto;
    width: 300px;
    resize : none;
}

#questionForms input:focus, #questionForms textarea:focus, #countries:focus{
    outline: none;
}


#questionForms input::placeholder, #questionForms textarea::placeholder{
    color: #6d0063;
}

.tippy-box[data-theme~='blackAndWhite'] {
    background-color: black;
    color: white;
}

.tippy-box[data-theme~='blackAndWhite'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: black;
}

#questionsForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boutonForm{
    background-color: white;
    border: solid 1px #6d0063;
    padding: 15px 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    /*bords arrondis*/
    border-radius: 10px;
    font-family: Roboto;
    width: 300px;
    height: 60px;
    cursor: pointer;
}

#textColButt{
    background: -webkit-linear-gradient(90deg, #ed1e79, #6d0063);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    font-size: 20px;
    font-weight: 500;
}


#countries{
    width: 340px;
    height: 60px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 15px 20px 15px 25px;
    background-color: black;
    background: none;
    color: white;
    font-family: Roboto;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 0%;
    background-position-y: 50%;
}


#countries option{
    background-color: black;
}