* {
    margin: 0;
    padding: 0;
}

/*Importation des polices depuis le dossier "polices" */
@font-face {
    font-family: 'Permanent Marker';
    src: url(./polices/PermanentMarker.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(./polices/Roboto-Regular.ttf) format('truetype');
}


h2, #telephone, #adresseText, nav > ul > li > a{
    font-family: 'Permanent Marker';
}

p{
    font-family: 'Roboto';
}

/*Écrans d'ordinateur*/
@media screen and (min-width: 1024px) {
    ul{
        display: inline-flex;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    nav{
        margin: 0 200px;
        padding: 80px 0; /*Taille du header*/
    }

    #logo{
        width: 150px;
        height: 150px;
        margin: 0 30px;
    }

    main{
        /*Grille composées de deux rangées de deux cases*/
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;

    }

    #contact{
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .swiper{
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #localisation{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/*Écrans de tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/*Ecrans de telephone*/
@media screen and (max-width: 767px) {
}


/**************Header***********/
header{
    width: 100%;
    height: min-content;
    background-image: url(./images/texture.png);
    background-position: center;
}

/*Mise en forme des liens du navigateur*/
nav > ul > li > a:not(#navContact){
    color: black;
}

nav > ul > li > a{
    text-decoration: none;
    font-size: normal;
}

#navContact{
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#degrade{
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    height: 30px;
    width: 100%;
}

/**************Main************/

#contact p, #adresse p{
    width: 50%;
    margin: 20px 0;
}

/*CONTACT*/

#logoTel{
    width: 50px;
    height: 50px;
    margin: 0 30px;
}

#numTel{
    display: inline-flex;
}

#telephone{
    font-size: 30px;
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact{
    padding: 100px;
}

/*LOCALISATION*/

#adresse{
    background-image: url(images/localisation.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#map {
    width: 100%;
    height: 400px;
    background: #d6d6d6;
}

/*SLIDER*/


.swiper-avant, .swiper-apres{
    width: 30px;
    height: 30px;
    z-index: 2;
    display: flex;
}

.imgSlider {
    max-width: 100%;
    height: auto;
}

#chevronDroite {
    transform: rotate(180deg);
}

#countries {
    width: 90%;
    max-width: 400px;
}

.swiper {
    width: 800px;
    height: 300px;
  }