* {
    margin: 0;
    padding: 0;
}

/*Importation des polices depuis le dossier "polices" */
@font-face {
    font-family: 'Permanent Marker';
    src: url(./polices/PermanentMarker.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(./polices/Roboto-Regular.ttf) format('truetype');
}


h2, #telephone, #adresseText, nav > ul > li > a{
    font-family: 'Permanent Marker';
}

p{
    font-family: 'Roboto';
}

/*Écrans d'ordinateur*/
@media screen and (min-width: 1024px) {
    ul{
        display: inline-flex;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    nav{
        margin: 0 200px;
        padding: 80px 0; /*Taille du header*/
    }

    #logo{
        width: 150px;
        height: 150px;
        margin: 0 30px;
    }
}

/*Écrans de tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/*Ecrans de telephone*/
@media screen and (max-width: 767px) {
}


/**************Header***********/
header{
    width: 100%;
    height: min-content;
    background-image: url(./images/texture.png);
    background-position: center;
}

/*Mise en forme des liens du navigateur*/
nav > ul > li > a:not(#navContact){
    color: black;
}

nav > ul > li > a{
    text-decoration: none;
    font-size: normal;
}

#navContact{
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/**************Main************/
#degrade{
    background: linear-gradient(90deg, #ed1e79, #6d0063);
    height: 30px;
    width: 100%;
}

/*LOCALISATION*/

#adresse{
    background-image: url(images/localisation.jpg);
    background-position: center;
    /*background-size: cover;*/
    background-repeat: no-repeat;
}

#map {
    width: 100%;
    height: 400px;
    background: #d6d6d6;
    /*Afficher par dessus tout*/
    z-index: 1;
}

.swiper {
    width: 20%;
    height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


#chevronDroite {
    transform: rotate(180deg);
}

img{
    width: auto;
    height: 200px;
}


#countries {
    width: 90%;
    max-width: 400px;
}
